body {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; /* Centers content vertically */
    background-color: #f0f0f0;
    padding: 40px;
    font-family: sans-serif;
    margin: 0;
    min-height: 100vh; /* Ensures body takes up full viewport height */
}

.container {
    width: 80%;
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

.title-main {
    font-size: 110px;
    font-family: 'serif';
    color: #000000 !important;
    text-align: center;
    margin-bottom: 20px;
    white-space: nowrap;
}

.card {
    background: linear-gradient(#FCFAEE, #FCFAEE);
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 10px;
    padding: 20px;
    width: 100%; /* Full width of its container */
    max-width: 1900px; /* Maximum width for the card */
    transition: box-shadow 0.3s ease;
    text-align: center; 
}

.card:hover {
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

.intro-paragraph {
    max-width: 800px;
    font-size: 20px;
    margin: 20px auto;
    padding: 20px;
    background-color: #f0f0f0;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0);
    text-align: center;
}

.charts-wrapper {
    display: flex;
    flex-direction: column; 
    align-items: center;
    margin: 20px 0;
    width: 100%;
}

.chart-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 40px 0; /* Increased margin for spacing */
    width: 100%; 
    min-width: 300px;
}

#polar_area_chart {
    order: 2;
    margin: 20px 0; /* Additional space for the polar area chart */
}

#radial_bar_chart {
    order: 1;
    margin: 20px 0; /* Additional space for the radial bar chart */
}

.sankey-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 20px 0; /* Increased margin for the entire Sankey diagram */
}

.sankey-container > div {
    flex: 1;
    min-width: 300px;
    margin: 0 10px; /* Increased space between individual sankey chart components */
}

p {
    font-family: sans-serif; /* Change to your preferred font */
    font-size: 20px; /* Change to your desired size */
    text-align: center; /* Align text to the left */
    line-height: 1.5; /* Optional: improve readability with line height */
}
